@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
}

a{
    text-decoration: none;
    color: #373845;
}

a:hover{
    color: #5cb4dd;
}

img{
    max-width: 100%;
}

.container{
    padding: 0 10%;
}

@keyframes OpacityImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.image{
    animation: 1s ease-out 0s 1 OpacityImage;
}